---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import { SOCIALS } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import ContentMedia from "@components/ContentMedia.astro";
import { ScrollObserver } from "astro-scroll-observer";
---

<Layout>
  <Header activeNav={"projects"} />
  <main id="main-content" class="headline">
    <section id="hero">
      <Breadcrumbs />
      <div id="project-hero" class="rounded-xl bg-cover bg-bottom bg-no-repeat">
        <p class="header">
          Throughout my journey as an IT major, I have embarked on various
          projects that have challenged me to think creatively, innovate, and
          deliver high-quality solutions. Whether it's developing robust web
          applications, creating intuitive user interfaces, or implementing
          cutting-edge technologies, I have always strived for excellence.
        </p>
      </div>

      <h2
        class="justify-end bg-gradient-to-r from-[#007aff] to-[#dee2e6] bg-clip-text text-transparent sm:my-7 sm:justify-start sm:text-3xl"
      >
        Company website
      </h2>
      <div
        id="company-website"
        class="topBar inset-0 mb-10 rounded-md border-2 border-cyan-600 bg-[url('/assets/horses-background.gif')] bg-cover bg-no-repeat pb-2 shadow-md"
      >
        <a href="https://santiagolacera.github.io/Company-Website-Template/">
          <ContentMedia
            imgSrc="/assets/company-website.png"
            reverseImg={true}
          />
        </a>
        <p class="backOutline animate__animated animate__slideInDown">
          The website features a clean and modern design with a fixed navigation
          menu at the top of the page. This company provides privates lessons
          for house riding, the homepage includes sections for services, team
          members, testimonials, and a contact form.
        </p>
      </div>
      <div class="bg-transparent p-10">
        <Hr />
      </div>
      <h2
        class="bg-gradient-to-r from-[#eae6e3] to-[#7f9593] bg-clip-text text-transparent sm:my-7 sm:justify-end sm:text-3xl"
      >
        Personal website
      </h2>

      <div
        id="personal-website"
        class="topBar inset-0 mb-10 rounded-md border-2 border-[#eae6e3] bg-[url('/assets/personal-background.webp')] bg-cover pb-2 pt-5 shadow-md"
      >
        <a href="https://santiagolacera.github.io/Lu-Martinez-Design/">
          <ContentMedia imgSrc="/assets/personal-website.png" />
        </a>
        <p class="backOutline animate__animated animate__slideInDown">
          The website opens with a visually stunning home page that immediately
          captivates visitors and what better than a personal website this is a
          live website for an interior designer in Colombia which is starting
          company and this website is allowing her to show her products and
          services and you can too.
        </p>
      </div>
      <div class="bg-transparent p-10">
        <Hr />
      </div>
      <h2 class="text-[color:#609966] sm:my-7 sm:justify-start sm:text-3xl">
        <span class="text-[#f9e2af]">./</span>Terminal
      </h2>

      <div
        id="terminal"
        class="topBar inset-0 z-10 mb-10 rounded-md border-2 border-green-500 bg-[url('/assets/terminal-background.gif')] shadow-md"
      >
        <a href="https://santiagolacera.github.io/Terminal-SL/">
          <ContentMedia imgSrc="/assets/terminal.png" />
        </a>
        <p class="backOutline animate__animated animate__slideInDown">
          The website provides a brief introduction to "Myself", including
          different commands you can use and a description of its functionality.
          It then provides a detailed my career and my future ideals.
        </p>
      </div>
    </section>
    <ScrollObserver />
  </main>
  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  .animate__animated.animate__slideInDown {
    animation-duration: 1.5s;
    animation-delay: 0.5s;
  }
  #main-content {
    animation: fadeIn 1s ease-in-out;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #hero {
    @apply pb-3;
  }
  #hero h1 {
    @apply my-4 flex text-3xl font-bold  sm:my-7 sm:justify-center sm:text-5xl;
  }
  #hero h2 {
    @apply my-4 flex p-10 pt-5 text-3xl font-bold;
  }
  #hero p {
    @apply my-2 pb-10 pt-10 text-xl tracking-wider;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }
  .backOutline,
  html[data-theme="dark"] .backOutline {
    @apply bg-[#2d2727] bg-opacity-60 text-center;
  }
  .backOutline,
  html[data-theme="light"] .backOutline {
    @apply bg-[#eae6e3] bg-opacity-60 text-center;
  }
  .header,
  html[data-theme="dark"] .header {
    @apply text-center text-[#F8E8EE];
  }
  .header,
  html[data-theme="light"] .header {
    @apply text-center text-[#454545];
  }
  #project-hero,
  html[data-theme="dark"] #project-hero {
    @apply bg-[url('/assets/project-background.svg')];
  }
  #project-hero,
  html[data-theme="light"] #project-hero {
    @apply bg-[url('/assets/project-background-2.svg')];
  }
  .topBar,
  [data-is-scrolling-up="true"][data-is-top="false"] .topBar {
    opacity: 1;
  }
</style>
